.col-md-3, .col-md-2 ,.col-md-1{
    background-color: #fff;
    padding: 1vw;
    text-align: center;
    margin:1vw;
   
  }
  
  .col-md-6{
    background-color: #fff;
      padding: 1vw;
      margin-left: 0.2vw;
      /* margin: 1vw .2vw; */
      margin-top: 1vw;
      margin-bottom: 1vw;
      margin-right: 1.5vw;
    text-align: center;
  
  }
  
  
  
  .row_3>.col-md-3{
    margin-right: 0vw;
  }
   
  
  .row{
    margin: 1rem;
    
    padding: rem;
  }